html {
    background-color: rgb(197, 197, 197);
}

/*主要内容*/
#main {
    position: relative;
    margin: auto;
    width: 1200px;
    height: 570px;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
}

/* 侧边栏 */
.menu {
    float: left;
    width: 15%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.menu div#account {
    width: 100px;
    height: 100px;
    margin: 38px auto;
    border-radius: 50%;
    overflow: hidden;
}

#account img {
    width: 100%;
    height: 100%;
}

.menu #dataOperation {
    width: 75px;
    margin: auto;
}

.menu #dataOperation button {
    display: block;
    position: relative;
    width: 100%;
    margin: 10px 0;
    height: 50px;
    color: transparent;
    font-size: 22px;
    background: linear-gradient(to right, rgb(0, 183, 255),rgb(187, 0, 255));
    -webkit-background-clip: text;
}

.menu #dataOperation button::after {
    content: "";
    display: block;
    height: 2px;
    width: 0;
    background:linear-gradient(to right, rgb(67,203,255),rgb(151,8,204));
    transition: .2s;
}

.menu #dataOperation button:hover::after {
    width: 100%;
}

.menu #dataOperation button span {
    display: inline-block;
    font-size: 22px;
}

.menu #dataOperation button:first-of-type span {
    font-size: 26px;
    vertical-align: middle;
    margin-right: 5px;
}

.menu {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

/*表格居中*/
table {
    float: left;
    box-sizing: border-box;
    margin: 16px 0 0 2.5%;
    width: 80%;
    height: 85%;
    z-index: -5;
}

thead tr {
    height: 50px;
    background-color: rgba(144, 103, 255, 1);
    font-size: 18px;
    font-weight: 800;
}

/*表格边框*/
table,td{
    border-spacing: 0;
    color: rgb(0, 0, 0);
}

td {
    border: rgb(138, 126, 148) 1px solid;
    text-align: center;
    padding: 0 5px;
}

thead td button {
    font-size: 18px;
    background-color: transparent;
}

/*表格头点击事件样式变化*/
thead tr td:nth-of-type(3):active {
    background-color: rgb(131, 100, 216);
    background-clip: padding-box;
}

tr>td:nth-of-type(2) {
    width: 45px;
}
tr>td:nth-of-type(3) {
    width: 125px;
}
tr>td:nth-of-type(4) {
    width: 78px;
}
tr>td:nth-of-type(5) {
    width: 193px;
}
tr>td:nth-of-type(6) {
    width: 78px;
}
tr>td:nth-of-type(7) {
    width: 47px;
}
tr>td:nth-of-type(8) {
    width: 45px;
}
tr>td:nth-of-type(9) {
     width: 45px;
 }
tr>td:nth-of-type(10) {
    width: 130px;
}

table tbody td {
    height: 26px;
}

/*隔行变色效果*/
table>tbody>tr:nth-of-type(2n + 1) {
    background-color: rgba(203, 184, 255, 1);
}

table>tbody>tr:nth-of-type(2n) {
    background-color: rgba(181, 154, 254, 1);
}

/* 全选按钮 */
#allCheck {
    width: 3em;
    display: none;
}

label[for="allCheck"] {
    display: block;
    position: relative;
    margin: auto;
    width: 42px;
    height: 22px;
}

#allCheck+div {
    display: block;
    position: relative;
    width: 38px;
    height: 18px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    background-color: rgba(203, 184, 255, 0.6);
}

#allCheck+div::after {
    content: "";
    box-sizing: border-box;
    display: block;
    position: absolute;
    top: 2px;
    left: 2px;
    width: 14px;
    height: 14px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    transition: .2s;
}

#allCheck:checked+div::after {
    left: 22px;
}

#allCheck:checked+div {
    background-color: transparent;
}


/* 单选按钮 */
.checkButton {
    position: relative;
    visibility: hidden;
}

.checkButton::after {
    content: "";
    visibility: initial !important;
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
    width: 20px;
    height: 20px;
    border: 1px solid transparent;
    border-radius: 50%;
    background-color: #fff;
    background-clip: content-box;
    box-shadow: 0 0 0 3px rgb(203, 184, 255) inset;
    transition: all .2s;
}

.checkButton:checked::after {
    box-shadow: 0 0 0 6px rgb(90, 86, 188) inset;
}

/* 查看、修改键 */
tbody tr td:nth-last-of-type(1) button {
    position: relative;
    margin-right: 2px;
    width: 50px;
    height: 25px;
	text-align: center;
	color: #fff;
	box-sizing: border-box;
    border: none;
	background: linear-gradient(to right, rgb(110, 207, 245),rgb(114, 101, 230));
	border-radius: 10px; 
}

tbody button.modify {
    margin-left: 2px;
    background: linear-gradient(to right, rgb(114, 101, 230), rgb(110, 207, 245)) !important;
}

/* 查看，修改键发光 */
tbody tr td:nth-last-of-type(1) {
    position: relative;
    z-index: 0;
}

tbody tr td:nth-last-of-type(1) button::after {
    content: '';
    display: block;
	position: absolute;
	top: -3px;
	left: -3px;
    width: 58px;
    height: 30px;
	z-index: -1;
	background: rgb(255,228,152);
	border-radius: 40px;
	opacity: 0;
	transition: 0.2s;
}

tbody tr td:nth-last-of-type(1) button:hover::after {
    filter: blur(5px);
	opacity: 1;
}


/*显示信息条数样式*/
#information {
    float: left;
    margin: 14px 0 0 3%;
    box-sizing: border-box;
    width: 240px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(67,203,255, 0.8);
}

/*翻页键*/
#turnPage {
    float: right;
    margin: 1% 3%;
}

div#turnPage button {
    position: relative;
    width: 80px;
    height: 40px;
    margin: 0 8px;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to right, rgb(110, 207, 245),rgb(114, 101, 230));
    font-weight: 600;
    overflow: hidden;
}

.wave {
    display: block;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: rgb(174, 232, 255);
    animation: wave .5s linear 0s 1;
}

@keyframes wave {
    0% {
        width: 0;
        height: 0;
        opacity: 0.5;
    }
    50% {
        width: 150px;
        height: 150px;
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
